:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: var(--light);
}
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}
.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}
.display span {
  font-size: 14px;
  color: #888;
}
button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  opacity: 0.9;
}
.oprator {
  display: flex;
}
.oprator button {
  flex: 1 1 0%;
  background-color: var(--secondary);
}
.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 1 33.33%;
  background-color: var(--dark);
  max-width: 33.333%;
}
